/*global*/
body { 
    font-family:"montserrat", sans-serif ;
    background-color:#D6EFED;
    color: #40514e;
    margin: 0;
}   

p {
    line-height:2
     width: 40%;
}


a {
    text-decoration:none;
    color:#333333;
}

.top-container {
    text-align:center;
    margin-top: 0;
    background-color: #66BFBF;
    padding: 40px 0 30px;
}


.btn { 
    width: 25px ;
    background-color:#a3ece6;
    color:rgb(93, 99, 111);
    font-size: 12px;
    text-align: center;
    margin: 27px;
    padding: 5px; /* paddin is the margin between the text and the border*/
    border-radius: 10px /*border makes the edges of the buttons round */
}

/*
.btn-small {
    font-size: 14px;
    width: 150px;
    margin:auto;
    margin-top: 25px;
}
*/
/*header*/

/*main*/

.name {
    margin-top: 75px;
}

.Maria {
    color: #66BFBF;
    font-size: 30px;
    text-transform:uppercase;
    letter-spacing: 3px;
    text-align:center;
}

.software {
    text-align: center;
    color: #66BFBF;
    margin-bottom: 50px;
}

.photo {
    border-radius: 50%;
}

.myinfo {
    color: #66BFBF;
    font-size: 20px;
    margin-top: 50px;
}
    
.middle-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    color: 333333;
    line-height: 2;
    width: 45%;

    
}

.two {
    color: #66BFBF;
}

.socialmedia { 
    color:#66BFBF;

}
ul {
    text-align:center;
    list-style-position:inside;
}

.two { /*hobbie*/
    margin-top: 50px;
}

.three {
    margin-top: 50px;
    text-align:center;
    line-height: 2;
}


a:link {
    color: rgb(102, 134, 151);
}
  

a:visited {
    color: black;
}
  

a:hover {
    color: rgb(29, 181, 211);
}
  

a:active {
    color: rgb(79, 201, 238);
}



.connect-with-me {
    width: 25px ;
    background-color:#a3ece6;
    color:rgb(93, 99, 111);
    font-size: 12px;
    text-align:center;
    margin: 27px;
    padding: 5px; /* paddin is the margin between the text and the border*/
    border-radius: 10px /*border makes the edges of the buttons round */
}
 
.email {
    margin-top:10px;
} 

.table{ /*eduation tab*/
    margin-left:auto;
    margin-right:auto; 
}

.bottom-container {
    margin-top: 70px;
    background-color: #66BFBF;
    margin:bottom: 0;
    height: 100px;
    position:relative;
    text-align:center;
}

.copyright {
    padding: 25px 0 20px 0;
}

.contactparagraph { 
    width:45%;
    text-align:right;
    padding-top: 50px;
    padding-left: 50px;
}
.linkedin { 
    float:right;
    padding-right: 150px;
}

.getintouch {
    margin-top: 80px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.form { 
    margin-top: 100px;
}


.submit {
    color: #ffffff;
    background-color: #5fdbdd;
    font-size: 12px;
    border: 1px solid #4ebeda;
    border-radius: 10px;
    padding: 2px 5px;
    cursor:pointer
}

.submit:hover {
    color: #676d6f;
    background-color: #ffffff;
}


